body{
    margin: 0;
}

.mainPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.post-container{
    position: relative;
	width: 100%;
	margin-top: 3rem;
}

.btn-message{
    background-color: #80CDDD;
    border-radius: 7px;
    border-color: black;
    width: 30%;
    height: 30px;
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 5px;
    right: 5px;
    padding: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-message{
    width: 25%;
    height: 80%;
    padding-right: 3px;
}